{% load static %}
<section class="safety">
	<div class="container">
		<div class="text">
			<h2>We are here for your needs</h2>
			<div class="cta">
				<a href="{% url 'contact' %}" class="btn">Contact us</a>
				<a href="{% url 'needs' %}" class="small">Learn more &raquo;</a>
			</div>
		</div>
		<div class="image">
			<img src="{% static 'images/Metal_OES_Icon.jpg' %}" alt="nimrod Age is the best technical support company to work with">
			<ul class="social-icons">
				{% include 'Home/social_icons.html' %}
			</ul>
		</div>
	</div>
	<div class="design"></div>
</section>